@import 'scss/global.scss';

$bg-color: #1f263c;

.history-background {
    background-color: #1b1b1a;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.history-table {
    background-color: #242425;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

