@import 'scss/global';
.ant-picker-input > input::placeholder {
    color: paleturquoise !important;
}
.ant-picker-input > input {
    color: white !important;
}

label > span {
    color: cyan;
    font-size: 16px;
}